.bg {
    background-color: rgb(93, 134, 209);
    padding: 40px 12px 12px 12px;
    border: 1px black; 
    height: 250px;
    width: 320px;
    margin: auto;
    animation: slideIn 5s ease-in-out;
}

button {
    background-color: red;
    padding: 5px 93px;
}

form {
    text-align: center; 
}

input {
    padding: 3px 35px 0px 35px;
    text-align: center;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
